<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration</directory>
            <directory>Integration/Database</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>Functional</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>Integration/Database</directory>
        </testsuite>
        <testsuite name="Accessibility">
            <directory>a11y</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="coverage-html"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">../modules/core</directory>
            <directory suffix=".php">../modules/search</directory>
            <directory suffix=".php">../modules/document-management</directory>
        </include>
    </source>
</phpunit>
